<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>TopHeadLine</string>
		<key>newsApi</key>
		<dict>
			<key>endPoint</key>
			<string>TopHeadLines</string>
			<key>parameters</key>
			<dict>
				<key>apiKey</key>
				<string>d35766c79dc843c3b5f711250ce0a5c9</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>General</string>
		<key>newsApi</key>
		<dict>
			<key>endPoint</key>
			<string>TopHeadLines</string>
			<key>parameters</key>
			<dict>
				<key>category</key>
				<string>general</string>
				<key>apiKey</key>
				<string>d35766c79dc843c3b5f711250ce0a5c9</string>
			</dict>
		</dict>
	</dict>
    <dict>
        <key>title</key>
        <string>Entertainment</string>
        <key>newsApi</key>
        <dict>
            <key>endPoint</key>
            <string>TopHeadLines</string>
            <key>parameters</key>
            <dict>
                <key>category</key>
                <string>entertainment</string>
                <key>apiKey</key>
                <string>d35766c79dc843c3b5f711250ce0a5c9</string>
            </dict>
        </dict>
    </dict>
	<dict>
		<key>title</key>
		<string>Health</string>
		<key>newsApi</key>
		<dict>
			<key>endPoint</key>
			<string>TopHeadLines</string>
			<key>parameters</key>
			<dict>
				<key>category</key>
				<string>health</string>
				<key>apiKey</key>
				<string>d35766c79dc843c3b5f711250ce0a5c9</string>
			</dict>
		</dict>
	</dict>
    <dict>
        <key>title</key>
        <string>Sports</string>
        <key>newsApi</key>
        <dict>
            <key>endPoint</key>
            <string>TopHeadLines</string>
            <key>parameters</key>
            <dict>
                <key>category</key>
                <string>sports</string>
                <key>apiKey</key>
                <string>d35766c79dc843c3b5f711250ce0a5c9</string>
            </dict>
        </dict>
    </dict>
    <dict>
        <key>title</key>
        <string>Business</string>
        <key>newsApi</key>
        <dict>
            <key>endPoint</key>
            <string>TopHeadLines</string>
            <key>parameters</key>
            <dict>
                <key>category</key>
                <string>business</string>
                <key>apiKey</key>
                <string>d35766c79dc843c3b5f711250ce0a5c9</string>
            </dict>
        </dict>
    </dict>
    <dict>
        <key>title</key>
        <string>Technology</string>
        <key>newsApi</key>
        <dict>
            <key>endPoint</key>
            <string>TopHeadLines</string>
            <key>parameters</key>
            <dict>
                <key>category</key>
                <string>technology</string>
                <key>apiKey</key>
                <string>d35766c79dc843c3b5f711250ce0a5c9</string>
            </dict>
        </dict>
    </dict>
	<dict>
		<key>title</key>
		<string>Science</string>
		<key>newsApi</key>
		<dict>
			<key>endPoint</key>
			<string>TopHeadLines</string>
			<key>parameters</key>
			<dict>
				<key>category</key>
				<string>science</string>
				<key>apiKey</key>
				<string>d35766c79dc843c3b5f711250ce0a5c9</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
